

body, html, div, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
}
figure {
  width: 25rem;
  margin: 0 auto;
}
figure  img{
  width: 25rem;
}

.img-container img{
  width: 25rem;
  margin: 2rem auto;
}

@media screen and (max-width: 768px){
  main {
    margin-top: 16rem;
  }
  .pictures figure img {
    width: 100%;
  }
  figure {
    margin: 1rem auto;
    width: 100%;
  }
}









































