.nav-bg {
  background-image: url("/images/market.jpg");
  opacity: .8;
  z-index: -1500;
}

.card {
  display: flex;
  justify-content: space-evenly;
}

.info {
  font-family: sans-serif
}
.info dl {
  color: rgb(83, 82, 82);
}
.info dt {
  font-weight: 600;
  padding: 10px;
}

@media screen and (max-width: 768px){
  .card {
    display: block;
    width: 100%;
  }
  .card img {
    width: 100%;
  }
}



