

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.hamburger-bg {
  visibility: hidden;
}

/* background element with the bg pic */
.nav-bg {
  height: 90vh;
  background-image: url("../images/seine-et-marne.jpg");
  background-size: cover;
  background-position: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
  background-color: rgb(21, 153, 153);
  opacity: .8;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.logo {
  position: relative;
  left: 2rem;
  color: rgb(7, 7, 102);
  text-decoration: none;
  font-weight: 700;
  font-size: 5rem;
  z-index: 1;
}

.link-list {
  display: flex;
  justify-content: space-between;
}

.link {
  list-style: none;
  text-decoration: none;
  margin: 0 3.5rem;
}

.link a {
  font-weight: 500;
  text-decoration: none;
  color: rgb(247, 248, 252);
  font-size: 1.8rem;
  font-family: sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.link a:hover {
  border-bottom: 2.5px solid white;
}

.slogan {
  /* background-color: whitesmoke; */
  color: rgb(255, 255, 255);
  position: absolute;
  left: 31%;
  top: 10rem;
  font-size: 5rem;
  transform: skew(-20deg);
  text-shadow:0 0 8px rgb(104, 101, 101) ;
}

main {
  margin: 3rem 9rem;
}

.histoire {
  margin-top: 10rem;
}
.article-box {
  width: 50%;
}
.title-description {
  color: rgb(66, 66, 66);
  font-size: 2rem;
  padding-top: 0;
  margin-top: 1rem;
}
.histoire-description {
  display: flex;
  justify-content: space-between;
}
.description {
  font-family: sans-serif;
  color: rgb(139, 138, 138);
  font-size: 1rem;
  line-height: 3rem;
  font-weight: 500;
}
.relative-links {
  display: flex;
  justify-content: space-between;  
  list-style: none;
}
.relative-link a {
  text-decoration: none;
  color: rgb(180, 94, 94);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 14px;
}
.thumbs-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-content: center;
  margin-top: 10rem;
  width: 100%;
}
.thumb-img {
  width: 50%;
  margin: 2rem auto;
  flex-shrink: 2;
}
.thumb-img img{
  flex-shrink: 3;
  width: 100%;
}
figure {
  box-shadow: 0 -10px 5px rgb(185, 183, 183);
}
figcaption {
  color: rgb(97, 96, 96);
  font-size: 13px;
}
.img-palace {
  width: 100%;
  box-shadow: 0 5px 10px rgb(230, 224, 224);
}
/* footer section elements */
footer {
  padding: 30px;
  background-color: rgb(226, 224, 224);
  margin-top: 8rem;
  height: 25vh;
  text-align: center;
}

.footer-links {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.footer-link a {
  list-style: none;
  text-decoration: none;
  color: rgb(74, 112, 182);
}
.dev {
  margin-top: 2rem;
  color: grey;
}
.author {
  text-decoration: none;
  
}
.github-link {
  text-decoration: none;
}
.relative-link a:hover {
  box-shadow: 0 0 5px rgb(122, 122, 122);
  transition: .3s;
}
.footer-link a:hover {
  color: whitesmoke;
  transition: .3s;
}

/*  RESPONSIVE BREAK POINTS */
/*  CELL PHONE BREAK POINT */
@media screen and (max-width: 768px){
  .navigation {
    display: flex;
    justify-content: space-evenly;
    height: 7vh;
    background-color: rgb(21, 153, 153);
    opacity: .8;
    top: 0;
  }
  .nav-bg {
    height:30vh;
    background-image: url("../images/seine-et-marne.jpg");
    background-size: cover;
    background-position: center;
  }
  .logo {
    color: rgb(7, 7, 102);
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    z-index: 1;
  }
  .link {
    list-style: none;
    text-decoration: none;
    margin: 0 2rem;
  }
  
  .link a {
    width: 80%;
    font-weight: 500;
    text-decoration: none;
    color: rgb(247, 248, 252);
    font-size: 1.2rem;
    font-family: sans-serif;
    text-transform: capitalize;
  }

  .slogan {
    /* background-color: whitesmoke; */
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    top: 5rem;
    font-size: 2rem;
    transform: skew(-20deg);
    text-shadow:0 0 8px rgb(104, 101, 101) ;
  }
  .histoire {
    margin-top: 3rem;
  }
  .histoire-description {
    display: flex;
    flex-direction: column;
  }
  .article-box {
    width: 100%;
  }
  main {
    margin: 3rem 3rem;
  }
  .thumbs-section{
    margin-top: 10rem;
    width: 100%;
  }
  .thumb-img {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto;
  }
  .thumb-img img{
    width: 100%;
  }
  footer {
    padding: 30px;
    background-color: rgb(226, 224, 224);
    margin-top: 4rem;
    height: 10vh;
    text-align: center;
  }

}
  

@media screen and (max-width: 576px){
  .navigation {
    display: flex;
    flex-direction: column;
    height: 7vh;
    background-color: rgb(21, 153, 153);
    opacity: .8;
    position: sticky;
    top: 0;
  }
  .nav-bg {
    background-image: url("../images/seine-et-marne.jpg");
    background-size: cover;
    background-position: center;
  }

  .logo {
    position: absolute;
    left: 15px;
    top: 20px;
    color: rgb(7, 7, 102);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .link-list {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 25px;
    margin:0 0;
  }
  .link {
    list-style: none;
    text-decoration: none;
    width: 8rem;
    margin: 0;
  }
  .link  a{
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: rgba(37, 37, 37, 0.6);
    visibility: hidden;
    text-decoration: none;
    padding: 5px 0;
    color: rgb(233, 230, 88);
    font-size: .8rem;
    font-family: sans-serif;
    text-transform: capitalize;
  }
  .link a:active {
    font-weight: 800;
    background-color: rgba(161, 158, 158, 0.6);
  }
  .slogan {
    color: rgb(255, 255, 255);
    text-align: center;
    top: 5rem;
    font-size: 1.4rem;
    transform: skew(-20deg);
    text-shadow:0 0 8px rgb(104, 101, 101) ;
  }
  .relative-links {
    display: none;
  }
  main {
    margin: 3rem .3rem;
  }
  .article-box {
    width: 90%;
    margin: 0 auto;
  }
  .description {
    font-size: 1rem;
    line-height: 25px;
  }
  .img-palace {
    width: 100%;
  }
  .thumbs-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10rem;
    width: 100%;
  }
  /* .thumbnail-img {
    width: 30%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */
  .thumb-img {
    margin: 2rem auto;
  }
  .thumb-img img{
    width: 100%;
  }
  footer {
    background-color: rgb(226, 224, 224);
    margin-top: 2rem;
    height: 30vh;
    /* text-align: center; */
  }
  .footer-links {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
  }
  .footer-link {
   margin: 5px 0;
  }

 }

 @media screen and (max-width: 360px){
  .navigation {
    display: flex;
    flex-direction: column;
    height: 7vh;
    background-color: rgb(21, 153, 153);
    opacity: .8;
    position: sticky;
    top: 0;
  }

  .logo {
    position: absolute;
    left: 15px;
    top: 20px;
    color: rgb(7, 7, 102);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .link-list {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 25px;
    margin:0 0;
  }
  .link {
    list-style: none;
    text-decoration: none;
    width: 8rem;
    margin: 0;
  }
  .link  a{
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: rgba(37, 37, 37, 0.6);
    visibility: hidden;
    text-decoration: none;
    padding: 5px 0;
    color: rgb(233, 230, 88);
    font-size: .8rem;
    font-family: sans-serif;
    text-transform: capitalize;
  }
  .link a:active {
    font-weight: 800;
    background-color: rgba(161, 158, 158, 0.6);
  }
  .slogan {
    color: rgb(255, 255, 255);
    text-align: center;
    top: 5rem;
    font-size: 1.4rem;
    transform: skew(-20deg);
    text-shadow:0 0 8px rgb(104, 101, 101) ;
  }
  .thumbs-section{
    margin-top: 4rem;
    width: 100%;
  }
  .thumbnail-img {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .thumb-img img{
    width: 100%;
    /* margin: 2rem auto; */
  }
  .relative-links {
    display: none;
  }
  main {
    margin: 3rem .3rem;
  }
  .article-box {
    width: 100%;
    margin: 0 auto;
  }
  .description {
    font-size: 1rem;
    line-height: 25px;
  }
  .img-palace {
    width: 100%;
  }
  footer {
    background-color: rgb(226, 224, 224);
    margin-top: 2rem;
    height: 30vh;
    /* text-align: center; */
  }
  .footer-links {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
  }
  .footer-link {
   margin: 5px 0;
  }

 }

/* nav toggle button */
.navigation-checkbox {
  display: none;
}
.navigation-button {
  background-color: white;
  height: 2rem;
  width: 2rem;
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: rgba(37, 37, 37, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation-background {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  background-image: radial-gradient(rgb(152, 152, 189), rgb(167, 160, 160));
  z-index: 1000;
  transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}
 
/* .hamburger-bg::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 8px;
  right: 15px;
  background-color:  rgba(37, 37, 37, 0.6);
  border-radius: 45px;
  cursor: pointer;
}
.line1::before {
  content: "";
  position: absolute;
  width: 20px;
  border-top: 2px solid white;
  top: 20px;
  right: 23px;
}
.line2::before {
  content: "";
  position: absolute;
  width: 20px;
  border-top: 2px solid white;
  top: 25px;
  right: 23px;
}
.line3::before {
  content: "";
  position: absolute;
  width: 20px;
  border-top: 2px solid white;
  top: 30px;
  right: 23px;
} */
 














